
/*=============================================
=            27. order tracking            =
=============================================*/

.order-tracking-box{
    background-color: #F7F7F7;
}
.order-tracking-form{
    label{
        font-size: 20px;
        line-height: 32px;
        color: #333;
    }

    .order-tracking-button{
        padding: 10px 65px;
    }
}

/*=====  End of 27. order tracking  ======*/

