
/*=============================================
=            17. widget            =
=============================================*/


/*----------  default  ----------*/

.lezada-widget{

    
    /*----------  widget title  ----------*/
    
    .widget-title{
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: #333;
    }

    .widget-content{
        font-size: 15px;
        line-height: 26px;
        color: #7e7e7e;
        margin-bottom: 0;
    }
}

/*=====  End of 17. widget  ======*/

