
/*=============================================
=           08. button            =
=============================================*/


/*----------  default style  ----------*/

.lezada-button{
    background-color: #333;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
    border: 1px solid #333;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover{
        background-color: transparent;
        color: #333 !important;
    }

    

    /*----------  small button style  ----------*/

    &--small{
        font-size: 12px;
        padding: 8px 15px;

        &--style2{
            padding: 7px 15px;
        }
    }
    

    /*----------  medium button style  ----------*/

    &--medium{
        font-size: 14px;
        padding: 10px 45px;
    }

    /*----------  large button style  ----------*/

    &--large{
        font-size: 16px;
        padding: 12px 35px;
    }

    /*----------  extra large button style  ----------*/

    &--xl{
        font-size: 18px;
        padding: 20px 35px;
    }

    
    /*----------  icon left style  ----------*/
    
    &--icon{
        /*----------  icon left style  ----------*/
        &--left{
            i{
                margin-right: 5px;
            }
        }
        /*----------  icon right style  ----------*/
        &--right{
            i{
                margin-left: 5px;
            }
        }
    }
    
    
}


/*----------  lezada button 2  ----------*/

.lezada-button-2{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;

    &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #333;
        opacity: 0.2;
        content: "";

    }

    &:before{
        font-size: 0;
        padding-right: 0;
        font-weight: 400;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s;
        display: inline-block;
        line-height: 0;
        content: "\f218";
        font-family: 'Ionicons';
    }


    &:hover{
        color: #d3122a;

        &:before{
            font-size: 14px;
            line-height: 0;
            padding-right: 8px;
            visibility: visible;
            opacity: 1;
        }
    }
}


/*----------  load more button  ----------*/

.lezada-loadmore-button{
    color: #333;
    letter-spacing: 1px;
    font-weight: 500;

    &:hover{
        color: #333;
    }
    i{
        display: inline-block;
        font-size: 16px;
        padding-right: 8px;
        font-weight: 600;
        color: #333;
    }
}



/*----------  shopping more button  ----------*/

.lezada-shopping-more-button{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #D6D6D6;
    transition: 0.6s;

    &:hover{
        border-color: #333;
        color: #333;
    }
}

/*=====  End of 08. button  ======*/

