
/*=============================================
=            13. Pagination            =
=============================================*/

.pagination{
    ul{
        width: 100%;
        text-align: center;
        margin-top: -5px;
        li{
            display: inline-block;
            margin-right: 20px;
            min-width: 20px;

            a{
                text-align: center;
                display: block;
                color: #ababab;
                font-weight: 500;

                &:hover{
                    color: #333;
                }
            }

            &.active{
                border-bottom: 1px solid #ababab;
                a{
                    color: #333;
                    
                }
            }
        }
    }
}

/*=====  End of 13. Pagination  ======*/

