
/*
    Site Mobile Navigation
------------------------------------------*/
.site-mobile-navigation {
    width: 100%;
    position: relative;
    z-index: 99;
  }
  
  /*Site Mobile Nav*/
  .site-mobile-nav {
    margin-right: 0 !important;
    max-width: none;
  }
  
  .site-mobile-nav .dl-trigger {
    position: absolute;
    right: 0;
    top: -25px;
  }
  
 
  
  .site-mobile-nav .hamburger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
    height: auto;
  }
  
  .site-mobile-nav .hamburger.dl-active, .site-mobile-nav .hamburger:hover, .site-mobile-nav .hamburger:focus {
    background-color: transparent;
  }
  
  .site-mobile-nav .hamburger::after {
    display: none;
  }
  
  .site-mobile-nav .hamburger .hamburger-box {
    width: 26px;
    height: 20px;
    display: block;
    position: relative;
  }
  
  .site-mobile-nav .hamburger .hamburger-box .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  
  .site-mobile-nav .hamburger .hamburger-box .hamburger-inner, .site-mobile-nav .hamburger .hamburger-box .hamburger-inner::before, .site-mobile-nav .hamburger .hamburger-box .hamburger-inner::after {
    width: 26px;
    height: 2px;
    background-color: #232324;
    border-radius: 4px;
    position: absolute;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  
  .site-mobile-nav .hamburger .hamburger-box .hamburger-inner::before, .site-mobile-nav .hamburger .hamburger-box .hamburger-inner::after {
    content: "";
    display: block;
  }
  
  .site-mobile-nav .hamburger .hamburger-box .hamburger-inner::before {
    top: -8px;
  }
  
  .site-mobile-nav .hamburger .hamburger-box .hamburger-inner::after {
    bottom: -8px;
  }
  
  .site-mobile-nav .hamburger--spin .hamburger-inner {
    -webkit-transition-duration: 0.22s;
    -o-transition-duration: 0.22s;
    transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .site-mobile-nav .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }
  
  .site-mobile-nav .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .site-mobile-nav .hamburger--spin.dl-active .hamburger-inner {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .site-mobile-nav .hamburger--spin.dl-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }
  
  .site-mobile-nav .hamburger--spin.dl-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .site-mobile-nav .dl-menu {
    background-color: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.1);
    margin: 40px 0 0 0;
  }
  
  .site-mobile-nav .dl-menu li {
    border-bottom: 1px solid #eeeeee;
  }
  
  .site-mobile-nav .dl-menu li:last-child {
    border-bottom: none;
  }
  
  .site-mobile-nav .dl-menu li > a {
    color: #232324;
    display: block;
    position: relative;
    padding: 10px 25px;
    line-height: 30px;
    font-weight: 400;
  }
  
  .site-mobile-nav .dl-menu li > a:not(:only-child)::after {
    font-family: "FontAwesome";
    content: "\f105";
    font-size: 18px;
    color: #232324;
    right: 25px;
  }
  
  .site-mobile-nav .dl-menu li:hover > a {
    color: #ffffff;
    background-color: #333333;
  }
  
  .site-mobile-nav .dl-menu li:hover > a::after {
    color: #ffffff;
  }
  
  .site-mobile-nav .dl-menu li .dl-submenu {
    background-color: transparent !important;
  }
  
  .site-mobile-nav .dl-menu li .dl-submenu li.dl-back a {
    background-color: transparent;
    text-align: right;
    color: #232324;
    z-index: 3;
    position: relative;
  }
  
  .site-mobile-nav .dl-menu li .dl-submenu li.dl-back a::after {
    font-family: "FontAwesome";
    content: "\f177";
    left: 25px;
    color: #232324;
    z-index: -1;
    position: absolute;
    top: 0;
    line-height: 50px;
    width: auto;
    right: auto;
  }
  
  .site-mobile-nav .dl-menu li .dl-submenu li.dl-back:hover a {
    color: #ffffff;
    background-color: #333333;
  }
  
  .site-mobile-nav .dl-menu li .dl-submenu li.dl-back:hover a::after {
    color: #ffffff;
  }
  
  .site-mobile-nav .dl-submenu {
    background-color: #ffffff !important;
    top: 40px !important;
  }
  